#header-featured h4 {
	color:white;
	margin: 50px 0 30px 70px;
}
.myinfo {
margin:30px 0 0 100px;
}
.myFeedget {
	margin:30px 0 0 30px;
}
.myFeedget h3 {
	margin-left:30px;
	color:white;
}
.myinfo h3 {
color:white;
margin-left:70px;
}
.myFeedget-table {
width:350px;
	margin: 20px 0 0 30px;
	border:0px;
}
.myinfo-table {
width:350px;
	margin: 20px 0 0 70px;
	border:0px;
}
#table-label {
color:white;
}
#table-data {
color:#FFF;
}
#table-down {
color:#FFF;
text-align:right;
}
.myinfo button {
width:350px;
margin: 30px 0 0 70px;
background-color:#1B9772;
color:white;
}