<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Feedget</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>body-index-jsp</servlet-name>
    <jsp-file>/body-index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>body-index-jsp</servlet-name>
    <url-pattern>/body-index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>body-login-jsp</servlet-name>
    <jsp-file>/body-login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>body-login-jsp</servlet-name>
    <url-pattern>/body-login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>body-join-jsp</servlet-name>
    <jsp-file>/body-join.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>body-join-jsp</servlet-name>
    <url-pattern>/body-join</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>body-search-jsp</servlet-name>
    <jsp-file>/body-search.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>body-search-jsp</servlet-name>
    <url-pattern>/body-search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>header-jsp</servlet-name>
    <jsp-file>/header.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>header-jsp</servlet-name>
    <url-pattern>/header</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>index-jsp</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>index-jsp</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>body-register-jsp</servlet-name>
    <jsp-file>/body-register.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>body-register-jsp</servlet-name>
    <url-pattern>/body-register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>register-jsp</servlet-name>
    <jsp-file>/register.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>register-jsp</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controller</display-name>
    <servlet-name>Controller</servlet-name>
    <servlet-class>controller.Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>header-login-jsp</servlet-name>
    <jsp-file>/header-login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>header-login-jsp</servlet-name>
    <url-pattern>/header-login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Call</display-name>
    <servlet-name>Call</servlet-name>
    <servlet-class>communication.user.Call</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Call</servlet-name>
    <url-pattern>/call</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientLogin</display-name>
    <servlet-name>ClientLogin</servlet-name>
    <servlet-class>communication.user.ClientLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientLogin</servlet-name>
    <url-pattern>/client-login</url-pattern>
  </servlet-mapping>
</web-app>